<!-- base.html -->
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar">


        <!-- Add a search bar to the navbar -->
        <form id="search-form" action="#" method="GET" class="search-bar">
          <input type="text" name="search" placeholder="Search...">
          <button class="search-btn" type="submit">Search</button>
        </form>
        
        <!-- Add some links to the navbar -->
        <a href="/" {% if request.path == '/' %}class="active"{% endif %}>Home</a>
        <a href="/upload_deck" {% if request.path == '/upload_deck' %}class="active"{% endif %}>Upload Deck</a>
        <a href="/view_decks" {% if request.path == '/view_decks' %}class="active"{% endif %}>View Decks</a>
	{% if "logged_in" not in session %}
        <a href="/login" {% if request.path == '/login' %}class="active"{% endif %}>Login</a>

	{% else %}

	<a href="/logout" {% if request.path == '/logout' %}class="active"{% endif %}>Logout</a>

	{% endif %}
      </nav>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer>
      <!-- Add some content to the footer -->
      <p>&copy; 2023 Code Commandos</p>
    </footer>
  </body>
</html>
