<script src="{{ url_for('static', filename='../static/js/index.js') }}"></script>

<!-- index.html -->
{% extends "base.html" %}

{% block title %}
  My App | Home
{% endblock %}

{% block content %}
  <h1>Welcome to our app!</h1>
  <p>Our card curation platform features viewing cards and uploading via Anki Connect.
  <br>Credits: <br>
      <ul>
        <li>Tyler Patton - Backend</li>
        <li>Brad Hillier - Backend</li>
        <li>Ann Hoffman - Documentation</li>
        <li>Johann Suarez - Frontend</li>
      </ul>
     
     
     
     
  </p>
{% endblock %}
