<script src="{{ url_for('static', filename='../static/js/login.js') }}"></script>

<!-- register.html -->
<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
  Flashcard App | Register
{% endblock %}

{% block content %}
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
        <title>Login</title>
      </head>
      <body>
        <div class="login-container">
          <h1>Register</h1>
          <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            
            <input type="submit" value="register">
          </form>
          <p>Or <a href="/login">login</a> if you already have an account.</p>
        </div>
      </body>
    </html>

{% endblock %}
